  <div class="container">
    <div class="row cal-row">
      <div class="span8" id="calendar"></div>
    </div>
  </div> <!-- /container -->

  <% @meetings.each do |meeting| %>
    <div>
      <p><%= link_to meeting.meeting_date.to_s + " Meeting", meeting_path(meeting) %>
        <%= meeting.meeting_time %>
        <%= meeting.location %></p>
    </div>
  <% end %>
