<%= render 'layouts/welcome' %>

<div class="page-header">
  <h3>Current Meetings</h3>
</div>

<% if @meetings.count > 0 %>
  <%= render 'meetings' %>
<% else %>
  <div class="alert alert-info">
    You don't have any meetings! <a href="<%= new_meeting_path %>">Create a meeting</a> to get started.
  </div>
<% end %>

<% if user_signed_in? and (can? :update, [Meeting]) %>
  <%= button_to "Create Meeting", new_meeting_path, :class => "btn btn-primary", :method => :get %>
<% end %>
