<h1> Meetings </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Meeting</th>
      <th>Start time</th>
      <th>Description</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
    <tr>
      <td><%= link_to meeting.meeting_date.strftime("%m/%d/%Y")+" Meeting", meeting_path(meeting) %></td>
      <td><%= meeting.meeting_time %></td>
      <td>
          <% if meeting.description %>
            <%= meeting.description.capitalize %>
          <% end %>
      </td>
      <td>
          <% if current_user && current_user.admin? %>
            <%= link_to "Edit Meeting", edit_meeting_path(meeting) %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>