<h1> Meetings </h1>

<table class="table">
  <thead>
    <tr>
      <th>Meeting</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
    <tr>
      <td>Meeting <%= link_to meeting.meeting_date.strftime("%m/%d/%Y"), meeting_path(meeting) %> at
          <%= meeting.meeting_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>