<%= render 'layouts/welcome' %>

<div class="page-header">
  <h3>Current Meetings</h3>
</div>

<% if @meetings.count > 0 %>
  <%= render 'meetings' %>
<% else %>
  <div class="alert alert-info">
    There are no meetings.
    <% if can? :manage, Meeting %>
      <a href="<%= new_meeting_path %>">Create a meeting</a> to get started.
    <% end %>
  </div>
<% end %>
