<h1> Calendar </h1>
<!-- <div class="span6" id="test_calendar"><%= link_to("blah", meetings_path(:month => "January"), :remote => true) %></div>
<div id="new_stuff"></div> -->
<div class="full-wrapper">
<div class="span6" id="calendar"></div>

<div class="span4 list-wrapper" id="meeting-list">
  <div>
  </div>
</div>
</div>
