<h1> Meeting on <%= @meeting.meeting_date.strftime("%m/%d/%Y") %> at
     <%= @meeting.meeting_time%></h1>

<p>
  <% if @meeting.description %>
    <%= @meeting.description.capitalize %>
  <% end %>
</p>


<br />