<h1> Meeting on <%= @meeting.meeting_date %> at
     <%= @meeting.meeting_time%></h1>

<p>
  <% if @meeting.description %>
    <%= @meeting.description.capitalize %>
  <% end %>
</p>

<%= render 'attendances/form' %>
