<div class="page-header">
  <h1>Members</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Email</th>
      <th>Edit</th>
      <% if current_user.super_admin? %>
        <th>Make admin?</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= show_user_link(user) %></td>
        <td><%= user.email %></td>
        <td><%= edit_user_link(user) %></td>
        <td><%= make_user_admin(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


