<div class="page-header">
  <h1>Members</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Email</th>
      <th>Edit</th>
      <% if current_user.super_admin? %>
        <th>Make admin?</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_manuals_path(user.id) %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Edit member", edit_user_path(user.id) %></td>
        <% if current_user.super_admin? %>
          <% if !user.super_admin? %>
            <% is_admin = (user.admin? or user.super_admin?) %>
            <td><%= check_box_tag 'make_admin', user.id, is_admin, :class => "make-admin-option" %></td>
          <% else%>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


