<!-- <div class="page-header">
  <h1>Members</h1>
</div>
 -->
<div class="dark-wrapper">
<div class="headers">

    <p><span class="span2">Member Name</span>
      <span class="span3">Email</span>
      <span class="span2">Action</span>
      <% if current_user.super_admin? %>
        <span class="span2">Admin</span>
      <% end %>
    </p>
    <br/>
</div>
<div class="list-body">
  <p>
    <% @users.each do |user| %>
    <span class="span2"><%= link_to user.name, user_manuals_path(user) %></span>
        <span class="span3"><%= user.email %></span>
        <span class="span2"><%= link_to "Edit user", edit_user_path(user.id) %></span>
        <% if current_user.super_admin? %>
          <% if !user.super_admin? %>
            <% is_admin = (user.admin? or user.super_admin?) %>
            <span class="span2"><%= check_box_tag 'make_admin', user.id, is_admin, :class => "make-admin-option" %></span>

          <% else%>
          <% end %>
        <% end %>
        <br/>
    <% end %>
  </p>
</div>
</div>


