<% if @meeting_role.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@meeting_role.errors.count, "error") %> prohibited this meeting from being saved:</h4>
    <div class="alert alert-error">
      <ul>
      <% @meeting_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>