<% if current_object.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(current_object.errors.count, "error") %> prohibited this <%= current_object.class %> from being saved:</h4>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <ul>
      <% current_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>