<% @manuals.each_with_index do |manual, index| %>
  <%= render manual, :index => index %>
<% end %>

<br />

<div id="new_manual_button">
  <% if can? :manage, [Manual] %>
    <%= button_to('Create New Manual', new_user_manual_path(@user), :class => 'btn', :method => :get, :remote => true) %>
  <% end %>
</div>
