

<% @projects.each do |m_id, projects| %>

  <h5><%= @manual.name %></h5>
  <div>
  <% projects.each do |p, speech| %>
    <%= p.name.ljust(20) + ": " + speech.title %></br>
  <% end %>
  </div>
  <%= "Progress: " + projects.count.to_s + "/" + @manual.projects.count.to_s %></br></br>
  <% percent_done = (projects.count * 100.0) / @manual.projects.count %>
  <div class="progress_bar">
    <div class="progress progress-info">
    <div class="bar" style="width: <%= percent_done.to_s %>%"></div>
</div>
  </div>

<% end %>