<div class="page-header">
  <h1>Welcome to Speech Hacker!</h1>
</div>

<div class="hero-unit">
  <p>
  Speech Hacker is built by SpeechLove, a group of Ruby on Rails developers.<br />
  We built Speech Hacker as a way for Toastmaster clubs to organize meetings and keep track of members' progress.
  </p>

  <p>
    Come visit us at one of our upcoming meetings!
  </p>
</div>