<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/header' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>

    <div class="container-fluid">
        <div class="row-fluid">
          <div class="span10 offset1">
            <%= render 'layouts/messages' %>

            <%= yield %>
          </div>
        </div>
        <br/>
      <footer>
        <p>&copy; SpeechLove 2012</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
